.aboutContent {
    text-align: left;
    padding: 0 0 0 100px;
    width: 700px;
}

.aboutSection {
    bottom: 0;
    color: #000;
    font-size: 22px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 110px;
}

.aboutTitle {
    float: left;
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 150px;
}

.aboutTitleWrapper {
    font-family: 'Helvetica Neue LT Pro';
    font-size: 26px;
    height: 100px;
    line-height: 100px;
    text-align: left;
    width: 100%;
}

.skill {
    color: #fff;
    background: #ff006e;
    border: 3px solid ##ff006e;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 10px 20px;
    text-align: center;
    width: 120px;
}

.skills {
    list-style-type: none;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .aboutContent {
        text-align: left;
        margin: 0 5%;
        padding: 0;
        width: 90%;
    }
}