body {
}

.aboutContent {
    text-align: left;
    padding: 0 0 0 100px;
    width: 700px;
}

.aboutSection {
    background-color: #fff;
    bottom: 0;
    color: #000;
    font-size: 22px;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 110px;
}

.aboutTitle {
    float: left;
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 150px;
}

.aboutTitleWrapper {
    font-family: 'Helvetica Neue LT Pro';
    font-size: 26px;
    height: 100px;
    line-height: 100px;
    text-align: left;
    width: 100%;
}

.circlesDiamondsLong,
.circlesDiamondsShort {
    float: left;
    font-size: 12px;
    height: 100px;
    line-height: 100px;
    overflow: hidden;
}

.circlesDiamonds1 {
    animation-delay: 1s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-name: cycle1;
}

.circlesDiamonds2 {
    animation-delay: 2s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-name: cycle2;
}

.circlesDiamonds3 {
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-name: cycle3;
}

.circlesDiamondsLong {
    left: 250px;
    position: absolute;
    width: 100%;
}

.circlesDiamondsShort {
    width: 100px;
}

.skill {
    color: #fff;
    background: #ff006e;
    border: 3px solid ##ff006e;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 10px 20px;
    text-align: center;
    width: 120px;
}

.skills {
    list-style-type: none;
    text-align: center;
}


@keyframes cycle1 {
    0% {
        color: gray;
    }

    20% {
        color: floralwhite;
    }

    40% {
        color: firebrick;
    }

    60% {
        color: rosybrown;
    }

    80% {
        color: lightpink;
    }
}

@keyframes cycle2 {
    0% {
        color: gray;
    }

    20% {
        color: royalblue;
    }

    40% {
        color: purple;
    }

    60% {
        color: lightgoldenrodyellow;
    }

    80% {
        color: seagreen;
    }
}

@keyframes cycle3 {
    0% {
        color: lightcoral;
    }

    20% {
        color: indianred;
    }

    40% {
        color: cornflowerblue;
    }

    60% {
        color: cornsilk;
    }

    80% {
        color: rebeccapurple;
    }
}



@media only screen and (max-width: 800px) {
    .aboutContent {
        text-align: left;
        margin: 0 5%;
        padding: 0;
        width: 90%;
    }
}