.aboutContent {
    font-size: 22px;
    padding: 0 0 0 100px;
    text-align: left;
    width: 80%;
}

.aboutSection {
    color: #000;
    margin: 0 auto;
    width: 80%;
}

.aboutTitle {
    float: left;
    font-family: 'Helvetica Neue LT Pro';
    font-size: 26px;
    font-weight: normal;
    height: 100px;
    line-height: 100px;
    margin: 0;
    width: 100%;
}

.skill {
    color: #fff;
    background: #ff006e;
    border: 3px solid ##ff006e;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    margin: 10px 20px;
    text-align: center;
    width: 120px;
}

.skills {
    list-style-type: none;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .aboutContent {
        text-align: left;
        margin: 0 5%;
        padding: 0;
        width: 90%;
    }
}
