header {
    background-color: #fafafa;
    /*border-bottom: 1px solid #000;*/
    color: #000;
    height: 110px;
    line-height: 110px;
}

.circlesDiamonds {
    font-size: 12px;
    height: 110px;
    margin: 0 550px 0 280px;
    overflow: hidden;
}

.circlesDiamonds1 {
    animation-delay: 1s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-name: cycle1;
}

.circlesDiamonds2 {
    animation-delay: 2s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-name: cycle2;
}

.circlesDiamonds3 {
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-name: cycle3;
}

.headerName {
    font-size: 44px;
    height: 110px;
    line-height: 110px;
    margin: 0;
    text-align: center;
}

.headerNameShort {
    display: none;
    font-size: 44px;
    height: 110px;
    line-height: 110px;
    margin: 0;
    text-align: center;
}

.headerNameWrapper {
    float: left;
    height: 110px;
    width: 280px;
}

.headerNameWrapper:hover {
    cursor: pointer;
}

.tab {
    display: inline-block;
    margin: 0 20px;
}

.tab:hover {
    cursor: pointer;
}

.tabs {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0;
    width: 550px;
}

@keyframes cycle1 {
    0% {
        color: gray;
    }

    20% {
        color: floralwhite;
    }

    40% {
        color: firebrick;
    }

    60% {
        color: rosybrown;
    }

    80% {
        color: lightpink;
    }
}

@keyframes cycle2 {
    0% {
        color: gray;
    }

    20% {
        color: royalblue;
    }

    40% {
        color: purple;
    }

    60% {
        color: #fafad2;
    }

    80% {
        color: #54ff9f;
    }
}

@keyframes cycle3 {
    0% {
        color: #f08080;
    }

    20% {
        color: indianred;
    }

    40% {
        color: #6495ed;
    }

    60% {
        color: #fff8dc;
    }

    80% {
        color: #663399;
    }
}



@media only screen and (max-width: 900px) {
    .headerName {
        display: none;
    }

    .headerNameShort {
        display: initial;
    }

    .headerNameWrapper {
        width: 120px;
    }
}

@media only screen and (max-width: 720px) {
    .tabs {
        display: none;
    }
}

