body
{
}

header {
    border-bottom: 1px solid #fff4c2;
    color: #d3d3d3;
    height: 110px;
    line-height: 110px;
}

.headerName {
    font-size: 44px;
    height: 55px;
    line-height: 55px;
    margin: 0;
    padding: 0 0 0 10px;
    text-align: center;
}

.headerNameWrapper {
    display: inline-block;
    float: left;
    height: 110px;
    width: 160px;
}

.tab {
    display: inline-block;
    margin: 0 8px;
}

.tabs {
    display: inline-block;
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 650px;
}


@media only screen and (max-width: 810px) {
    .tabs {
        display: none;
    }
}
