article {
    bottom: 0;
    color: #000;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 110px;
}

body {
    color: white;
    font-family: 'Helvetica Neue LT Pro';
    margin: 0px;
    padding: 0px;
}

main {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

p {
    margin: 0;
}

section {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.backgroundImage {
    background-image: url("images/home-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.homeDescription {
    font-size: 5vmin;
    margin: 5% auto 4% auto;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.homeTitle {
    font-size: 18vmin;
    margin: 10% auto auto auto;
    text-align: center;
}

.hvrGrow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvrGrow:hover,
.hvrGrow:focus,
.hvrGrow:active {
    transform: scale(1.1);
}

.link {
    color: white;
    text-decoration: none;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

    & li {
        display: inline-block;
        font-size: 26px;
        padding: 0px 10px;
    }

/**    & li:hover {
        color: #B77B82;
        cursor: pointer;
    }**/
}

.pinkText {
    color: #ffe4e1;
}

.textShadow {
        text-shadow: 2px 0 0 rgba(84,84,84,0.2),
        -2px 0 0 rgba(84,84,84,0.2),
        0 2px 0 rgba(84,84,84,0.2),
        0 -2px 0 rgba(84,84,84,0.2),
        1px 1px rgba(84,84,84,0.2),
        -1px -1px 0 rgba(84,84,84,0.2),
        1px -1px 0 rgba(84,84,84,0.2),
        -1px 1px 0 rgba(84,84,84,0.2);
}

@media only screen and (max-width: 550px) {
    body {
        overflow: hidden;
    }


    .homeDescription {
        font-size: 7vmin;
        margin: 5% auto 10% auto;
        width: 60%;
    }

    .homeTitle {
        margin: 20% auto 15% auto;
    }

    .navigation {
        & li {
            width: 100%;
        }
    }
}

