.dotNavigation {
    color: #ff006e;
    font-size: 26px;
    position: absolute;
    right: 0;
    top: 40%;
    width: 10%;
}

.dotNavigationSelected {
    color: #6a002e;
}

.portfolioTitle {
    float: left;
    font-size: 26px;
    font-weight: normal;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

.portfolioWrapper {
    margin: 0 auto;
    width: 80%;
}

.projectBullet {
    padding: 2px 0;
}

.projectButtons {
    width: 40%;
}

.projectButtonLink {
    background-color: #fff;
    border: 2px solid;
    border-bottom-color: #ff006e;
    border-left-color: #b2004d;
    border-right-color: #ff006e;
    border-top-color: #b2004d;
    color: #000;
    display: inline-block;
    font-weight: bold;
    margin: 0 5px;
    padding: 10px 15px;
    text-decoration: none;
}

.projectContent {
    padding-left: 100px;
}

.projectContentWrapper {
    float: left;
    width: 70%;
}

.projectDescriptionText {
    color: #000;
    font-size: 18px;
    margin: 0 0 20px 0;
}

.projectDescriptionTitle {
    color: #b2004d;
    font-weight: bold;
    margin: 10px 0;
    padding: 0;
    text-align: left;
}

.projectDesktopDisplay {
    float: left;
    margin-bottom: 50px;
    width: 100%;
}

.projectDesktopImage {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.projectDesktopImageWrapper {
    margin: 20px auto 10px auto;
    width: 80%;
}

.projectMobileDisplay {
    float: right;
    width: 30%;
}

.projectPhoneImage {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.projectPhoneImageWrapper {
    height: 400px;
}

.projectTitle {
    color: #000;
    font-size: 26px;
    font-weight: normal;
    margin: 0;
    padding-top: 15px;
    width: 100%;
}

@media only screen and (max-width: 1250px) {
    .projectButtons {
        width: 80%;
    }

    .projectContentWrapper {
        margin: 0 auto;
        width: 80%;
    }

    .projectPhoneImage {
        margin-top: 10px;
    }

    .projectMobileDisplay {
        margin: 0 auto;
        width: 100%;
    }
}

@media only screen and (max-width: 1050px) {
}

@media only screen and (max-width: 800px) {
    .projectContent {
        padding: 0;
    }

    .projectButtonLink {
        margin: 5px 5px;
    }
}
