

.portfolioTitle {
    color: #000;
    float: left;
    font-size: 26px;
    font-weight: normal;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

.portfolioWrapper {
/*    padding: 0 0 0 100px;*/
    margin: 0 auto;
    width: 50%;
}

.projectBullet {
    
}

.projectButtons {
    width: 40%;
}

.projectButton {
}

.projectContentWrapper {
    float: left;
    width: 60%;
}

.projectDescription {
    color: #000;
}

.projectDescriptionText {
    color: #000;
}

.projectDescriptionTitle {
    color: #ff006e;
    font-weight: bold;
    margin: 30px 0 5px auto;
    text-align: left;
}

.projectDesktopDisplay {
    width: 100%;
}

.projectDesktopImage {
    height: 100%;
    width: 100%;
}

.projectMobileDisplay {
    float: right;
    width: 40%;
}

.projectPhoneImage {
    height: 80%;
    width: 80%;
}

.projectSection {
    color: #000;
}

.projectTitle {
    color: #000;
    float: left;
    font-size: 26px;
    font-weight: normal;
    margin: 0 auto;
    text-align: left;
    width: 100%;
}
