.portfolioTitle {
    float: left;
    font-size: 26px;
    font-weight: normal;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    text-align: left;
    width: 100%;
}

.portfolioWrapper {
    /*    padding: 0 0 0 100px;*/
    margin: 0 auto;
    width: 80%;
}

.projectBullet {
    padding: 2px 0;
}

.projectButtons {
    margin: 10px 0;
    width: 40%;
}


.projectButtonLink {
    border: 2px solid;
    border-bottom-color: #ff006e;
    border-left-color: #b2004d;
    border-right-color: #ff006e;
    border-top-color: #b2004d;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    margin: 0 5px;
    padding: 10px 15px;
    text-decoration: none;
}

.projectContent {
    padding-left: 100px;
}

.projectContentWrapper {
    float: left;
    width: 60%;
}

.projectDescriptionText {
    color: #000;
}

.projectDescriptionTitle {
    color: #b2004d;
    font-weight: bold;
    margin: 10px 0;
    padding: 0;
    text-align: left;
}

.projectDesktopDisplay {
    float: left;
    width: 100%;
}

.projectDesktopImage {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.projectDesktopImageWrapper {
    margin: 20px auto 0 auto;
    width: 80%;
}

.projectMobileDisplay {
    float: right;
    width: 40%;
}

.projectPhoneImage {
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.projectPhoneImageWrapper {
    height: 400px;
}

.projectTitle {
    color: #000;
    font-size: 26px;
    font-weight: normal;
    margin: 0;
    width: 100%;
}
