.pinkText {
    animation-name: pinkText;
    animation-fill-mode: forwards;
    color: #ff99c5;
}

.pinkTextLink {
    cursor: pointer;
}

@keyframes pinkText {
    to {
        color: #e50063;
    }
}
