.contactContentWrapper {
    font-size: 22px;
    padding: 0 0 0 100px;
    text-align: left;
}

.contactFormSlot,
.contactFormSlotBig {
    border: 2px solid;
    border-bottom-color: #ff006e;
    border-left-color: #b2004d;
    border-right-color: #ff006e;
    border-top-color: #b2004d;
    font-family: 'Helvetica Neue LT Pro';
    font-size: 16px;
    height: 28px;
    padding: 1px 2px;
}

.contactFormSlot {
    max-width: 300px;
    width: 100%;
}

.contactFormSlotBig {
    height: 150px;
    max-width: 400px;
    width: 100%;
}

.contactFormWrapper {
    width: 100%;
}

.contactWrapper {
    margin: 0 auto;
    width: 80%;
}

.description {
    font-size: 18px;
    margin: 0 0 25px 0;
    text-align: left;
}

.emptyContent {
    background-color: #ffcccc;
    border: 1px solid #ff7f7f;
}

.inputType {
    height: 30px;
    line-height: 30px;
}

.label {
    & span {
        display: block;
    }

    & input:focus,
    textarea:focus {
        outline: none;
    }
}

.sendMailButton {
    background-color: #fff;
    border: 2px solid;
    border-bottom-color: #ff006e;
    border-left-color: #b2004d;
    border-right-color: #ff006e;
    border-top-color: #b2004d;
    color: #000;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 7px 0 0 0;
    padding: 10px 15px;
    text-decoration: none;
}

.title {
    font-family: 'Helvetica Neue LT Pro';
    font-size: 26px;
    font-weight: normal;
    height: 100px;
    margin: 0;
    position: relative;
    width: 100%;

    & span {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media only screen and (max-width: 800px) {
    .contactContentWrapper {
        padding: 0;
        width: 100%;
    }
}
