body {
    color: white;
    font-family: 'Helvetica Neue LT Pro';
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1 {
    font-size: 18vmin;
}

h2 {
    font-size: 5vmin;
}

main {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

section {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.backgroundImage {
    background-image: url("images/home-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;

    & li
{
    display: inline-block;
    font-size: 26px;
    padding: 0px 10px;
}

    & li:hover {
        color: #B77B82;
    }
}

.textShadow {
        text-shadow: 2px 0 0 rgba(84,84,84,0.2),
        -2px 0 0 rgba(84,84,84,0.2),
        0 2px 0 rgba(84,84,84,0.2),
        0 -2px 0 rgba(84,84,84,0.2),
        1px 1px rgba(84,84,84,0.2),
        -1px -1px 0 rgba(84,84,84,0.2),
        1px -1px 0 rgba(84,84,84,0.2),
        -1px 1px 0 rgba(84,84,84,0.2);
}


